@media only screen and (max-width: 2040px) {
    .photo {
        margin:0 22px;
    }
    #photogallery1 {
        margin-bottom:300px;
    }
    #photogallery2 {
        margin-top:150px;
    }
}

@media only screen and (max-width: 1680px) {
    #faqHeader {
        margin-top:400px;
    }

    .photo {
        margin:0 20px;
    }
    #photogallery2 {
        margin-top:100px;
    }
    .events {
        width:35%;
    }
}

@media only screen and (max-width: 1390px) {
    .photo {
        margin:0 12px;
    }
    .photo2 {
        margin:0 10px;
    }
    .events {
        width:41%;
    }

    .photoGallery {
        margin-top: 150px;
    }
    #photogallery2 {
        margin-top:80px;
    }
    #faqHeader {
        margin-top:0px;
    }

    .rsvpForm {
        transform:translate(-50%, -50%) scale(0.9) translateZ(0) perspective(1px) ;
    }
}

@media only screen and (max-width: 1248px) {
    
    .introTitle {
        font-size:130px;
        padding: 0 10px;
    }
    .introDivider {
      font-size: 22px;
    }
    .introDivider::before,
    .introDivider::after {
      min-width: 20vw;
    }
    .introDate {
        font-size:44px;
    }

    .event {
        width:30%;
    }
}

@media only screen and (max-width: 1112px) {
    .introDate {
        margin:40px 0 35px 0;
    }
    .rsvpButton {
        height:45px; width:150px;
        font-size: 20px;
    }

    .eventHeaderSection {
        margin-top:100px;
    }

    #photogallery1 {
        margin-bottom:200px;
    }
    #photogallery2 {
        margin-bottom:300px;
    }
    .photo {
        margin:0 10px;
    }
    .photo2 {
        margin:0 6px;
    }

    .faqSection {
        margin-bottom:120px;
    }
    .photoGallery2 {
        margin-bottom:200px;
    }
}

@media only screen and (max-width: 1040px) {
    .introTitle {
        font-size:110px;
        padding: 0 10px;
    }
    .introDivider {
      font-size: 20px;
    }
    .introDate {
        font-size:42px;
    }
    .rsvpButton2 {
        height:50px; width:140px;
        font-size:19px;
    }

    .eventTitle {
        font-size:21px;
        margin:30px 0;
    }
    .eventDescription, .hotelDescription {
        font-size:15px;
        line-height:31px;
        letter-spacing:0.5px;
    }
    .website {
        margin-top:20px;
    }
    .events {
        width:35%;
        margin:0 30px;
        padding-bottom:30px;
    }
    .reservationLink {
        line-height:40px;
    }
    .footnote {
        margin:5px 0 0 0;
    }

    #beach {
        transform:translateY(-38%);
    }
    #column {
        transform:translateY(-15%);
    }
    #london {
        transform:translateY(17%);
    }
    #hall {
        transform:translateY(45%);
    }
    #roman {
        transform:translateY(33%);
    }
    #snow {
        transform:translateY(23%);
    }
    #train {
        transform:translateY(40%);
    }
    #mountain {
        transform:translateY(20%);
    }

    .hotel {
        margin-top:20px;
    }
    .location {
        margin-top:-18px;
    }
    .hotel:nth-child(3), .location:nth-child(3) {
        margin-left:20px;
    }

    .faqSection {
        margin:60px 0 120px 0;
        width:70%;
    }
    .question {
        font-size:20px;
        padding: 15px 40px 15px 15px;
        height: auto; width: 100%;
        letter-spacing:1px;
        line-height:35px;
    }
    .question:before {
        font-size: 20px;
        transform:translateX(35px);
        line-height:170%;
    }
    .question.active:before {
        transform:translateX(35px) rotate(225deg);
    }
    .answerDiv {
        padding:0 0 0 15px;
    }
    .answerDiv.active {
        padding:5px 0 5px 15px;
        margin-bottom:10px;
    }
    .answer {
        font-size:15px;
        line-height:35px;
    }

    .footer {
        font-size:20px;
    }
    .details, .footerRSVP {
        line-height:40px;
        letter-spacing:0.5px;
    }
}

@media only screen and (max-width: 860px) {
    .introTitle {
        font-size:80px;
        padding: 0 10px;
        -webkit-text-stroke-width: 0.5px;
        text-shadow:none;
    }
    .introDivider {
      font-size: 16px;
      font-weight:100;
    }
    .introDivider::before,
    .introDivider::after {
      min-width: 16vw;
    }
    .introDate {
        font-size:35px;
        -webkit-text-stroke-width: 0.4px;
        text-shadow:none;
    }

    .hotel, .location {
        width:100%;
    }
    .hotel:nth-child(3), .location:nth-child(3) {
        margin-left:0px;
    }
    .location:nth-child(3) {
        margin-top:10px;
        margin-bottom:25px;
    }

    #photogallery2 {
        margin-top:60px;
        margin-bottom:260px;
    }

    .faqSection {
        margin-bottom:100px;
    }

    .rsvpForm {
        transform:translate(-50%, -50%) scale(0.8) translateZ(0) perspective(1px) ;
    }
}

@media only screen and (max-width: 767px) {
    .rsvpButton2 {
        height:45px; width:130px;
        font-size:17px;
    }

    .eventHeaderSection {
        padding: 0 10px;
        margin:0;
    }
    .eventHeader {
        font-size:70px;
        margin-top:70px;
    }
    .events {
        width:87%;
        margin:0 20px;
        padding-bottom:0;
    }

    .photoGallery, .photoGallery2 {
        position:relative;
        margin-top:70px;
        margin-bottom:100px;
        height:100%; max-height:none;
    }
    .photoGallery2 {
        margin-top:0px;
        margin-bottom:50px;
    }
    #photogallery1 {
        margin-bottom:30px;
    }
    #photogallery2 {
        margin-bottom:60px;
    }
    #beach, #column, #london, #snow, #hall, #mountain, #roman, #train {
        transform:none;
    }
    .photo, .photo2 {
        margin:15px 0;
        height:auto;
        width:88%;
        max-width:none;
    }

    #faqHeader {
        font-size:60px;
        margin-bottom:0;
    }
    .faqSection {
        margin:45px 0 100px 0;
        width:94%;
    }
    .question:before {
        transform:translateX(30px);
    }
    .question.active:before {
        transform:translateX(30px) rotate(225deg);
    }

    .footer {
        height:370px;
        font-size:20px;
    }
    .details {
        margin-top:0;
        display:block;
        width:100%;
        line-height:35px;
    }
    .footerRSVP {
        padding:0 20px;
        display:block;
        width:100%;
    }
}

@media only screen and (max-width: 500px) {
    .eventHeader {
        font-size:60px;
    }

    .rsvpForm {
        transform:translate(-50%, -50%) scale(1) translateZ(0) perspective(1px) ;
        zoom:62%;
    }
}

@media only screen and (max-width: 300px) {
    .introDivider {
        font-size: 14px;
    } 

    .introDivider::before,
    .introDivider::after {
        min-width: 7vw;
    }

    .rsvpForm {
        transform:translate(-50%, -50%) scale(1) translateZ(0) perspective(0px);
        zoom:52%;
    }
}