@media only screen and (max-width: 2040px) {
    .arrowBox {
        right:90vw; 
    }
    .arrowBox:nth-child(9) {
        left:90vw;
    }
    .fullScreenImage {
        max-width:70%;
    }
}

@media only screen and (max-width: 1680px) {
    .arrowBox {
        right:91vw; 
    }
    .arrowBox:nth-child(9) {
        left:91vw;
    }
    .fullScreenImage {
        max-width:80%;
    }
}

@media only screen and (max-width: 1390px) {
    .arrowBox {
        right:86vw;
        top:auto;
        bottom:2rem;
        transform:rotateZ(45deg);
        background-color:rgba(0, 0, 0, 0.787);
    }
    .arrowBox:nth-child(9) {
        left:86vw;
        transform:rotateZ(225deg);
    }
    .fullScreenImage {
        max-width:100%;
    }
}

@media only screen and (max-width: 1248px) {
    
    .introTitle {
        font-size:130px;
        padding: 0 10px;
    }
    .introDivider {
      font-size: 22px;
    }
    .introDivider::before,
    .introDivider::after {
      min-width: 20vw;
    }
    .introDate {
        font-size:44px;
    }

    .event {
        width:30%;
    }
    .eventHeader {
        font-size:65px;
    }
    .eventSubHeader {
        font-size:21px;
    }
    .iconBox {
        height:65px;
    }
    .iconHolder {
        width:75px; height:75px;
    }
    .eventIcon {
        width:65px; height:65px;
    }
    .slideshowDiv {
        width:800px;
    }
    .convolutedDiv {
        width:800px;
    }
    .slideshowSide {
        width:100%;
        right:790px;
    }
    .slideshowSide:nth-child(1) {
        left:790px;
    }
    .slideshowImages {
        animation: slider 70s linear infinite;
    }

    .locationTitle, .locationBox.main .locationTitle {
        font-size:38px;
    }
    .locationDescription, .locationBox.main .locationDescription {
        font-size:19px;
    }
    
    @keyframes slider {
        0% {
            margin-left:0;
        } 50% {
            margin-left:-2565px;
        } 100% {
            margin-left:0;
        }
    }
}

@media only screen and (max-width: 1112px) {
    .arrowBox {
        right:84vw;
    }
    .arrowBox:nth-child(9) {
        left:84vw;
    }
}

@media only screen and (max-width: 1040px) {
    .introTitle {
        font-size:110px;
        padding: 0 10px;
    }
    .introDivider {
      font-size: 20px;
    }
    .introDate {
        font-size:42px;
    }

    .eventHeader {
        font-size:60px;
    }
    .eventHeaderImage {
        transform:translate(0%, -50%) scale(1.4);
    }
    .eventSubHeader {
        font-size:20px;
    }
    
    .locationDiv {
        height:1400px;
    }
    .locIconBox {
        height:60px;
    }
    .locIconHolder, .locationBox.main .locIconHolder {
        width:75px; height:75px;
    }
    .locEventIcon, .locationBox.main .locEventIcon {
        width:70px; height:70px;
    }
    .locationTitle, .locationBox.main .locationTitle {
        font-size:34px;
    }
    .locationDescription, .locationBox.main .locationDescription {
        font-size:18px;
    }
}

@media only screen and (max-width: 850px) {
    .introTitle {
        font-size:80px;
        padding: 0 10px;
        -webkit-text-stroke-width: 0.5px;
        text-shadow:none;
    }
    .introDivider {
      font-size: 16px;
      font-weight:100;
    }
    .introDivider::before,
    .introDivider::after {
      min-width: 16vw;
    }
    .introDate {
        font-size:35px;
        -webkit-text-stroke-width: 0.4px;
        text-shadow:none;
    }

    .eventHeader {
        font-size:55px;
    }
    .eventHeaderImage {
        transform:translate(0%, -50%) scale(1.4);
    }
    .eventSubHeader {
        font-size:19px;
        padding:0 40px;
    }
    .event {
        width:35%;
    }
    .iconBox {
        height:60px;
    }
    .iconHolder {
        width:75px; height:75px;
    }
    .eventIcon {
        width:65px; height:65px;
    }
    .slideshowDiv {
        width:500px;
    }
    .convolutedDiv {
        width:500px;
    }
    .slideshowSide {
        width:100%;
        right:490px;
    }
    .slideshowSide:nth-child(1) {
        left:490px;
    }
    .slideshowImages {
        animation: slider 80s linear infinite;
    }
    
    .locationDiv {
        height:2350px;
    }
    .locationBox {
        padding:50px 5px 20px 5px;
        width:100%;
    }
    .locIconBox {
        height:75px;
    }
    .locIconHolder, .locationBox.main .locIconHolder {
        width:80px; height:80px;
    }
    .locEventIcon, .locationBox.main .locEventIcon {
        width:75px; height:75px;
    }
    .locationTitle, .locationBox.main .locationTitle {
        font-size:45px;
    }
    .locationDescription, .locationBox.main .locationDescription {
        font-size:19px;
    }

    .googlemap {
        height:600px;
    }

    .arrowBox {
        right:85vw;
        width:80px; height:80px;
    }
    .arrowBox:nth-child(9) {
        left:85vw;
    }
    .arrow {
        width:30px;
        height:30px;
        top:50%; left:50%;
    }

    @keyframes slider {
        0% {
            margin-left:0;
        } 50% {
            margin-left:-2860px;
        } 100% {
            margin-left:0;
        }
    }
}

@media only screen and (max-width: 690px) {
    .arrowBox {
        width:65px;
        height:65px;
        right:84vw;
    }
    .arrowBox:nth-child(9) {
        left:84vw;
    }
    .arrow {
        width:20px;
        height:20px;
    }
}

@media only screen and (max-width: 600px) {
    .slideshowDiv {
        width:350px;
    }
    .convolutedDiv {
        width:350px;
    }
    .slideshowSide {
        width:100%;
        right:340px;
    }
    .slideshowSide:nth-child(1) {
        left:340px;
    }
    .slideshowImages {
        animation: slider 90s linear infinite;
    }
    
    .locationDiv {
        height:2350px;
    }
    .locationBox {
        padding:50px 5px 20px 5px;
        width:100%;
    }
    .locIconBox {
        height:75px;
    }
    .locIconHolder, .locationBox.main .locIconHolder {
        width:80px; height:80px;
    }
    .locEventIcon, .locationBox.main .locEventIcon {
        width:75px; height:75px;
    }
    .locationTitle, .locationBox.main .locationTitle {
        font-size:45px;
    }
    .locationDescription, .locationBox.main .locationDescription {
        font-size:19px;
    }

    .arrowBox {
        width:65px;
        height:65px;
        right:84vw;
    }
    .arrowBox:nth-child(9) {
        left:84vw;
    }
    .arrow {
        width:20px;
        height:20px;
    }

    @keyframes slider {
        0% {
            margin-left:0;
        } 50% {
            margin-left:-3000px;
        } 100% {
            margin-left:0;
        }
    }
}

@media only screen and (max-width: 544px) {
    .event {
        width:70%;
    }

    .locationFade {
        top:0px;
    }
    .locationDiv {
        height:2350px;
    }
    .locationBox {
        padding:50px 5px 20px 5px;
        width:100%;
    }
    .locIconBox {
        height:75px;
    }
    .locIconHolder, .locationBox.main .locIconHolder {
        width:80px; height:80px;
    }
    .locEventIcon, .locationBox.main .locEventIcon {
        width:75px; height:75px;
    }
    .locationTitle, .locationBox.main .locationTitle {
        font-size:45px;
    }
    .locationDescription, .locationBox.main .locationDescription {
        font-size:19px;
    }
}

@media only screen and (max-width: 455px) {
    .arrowBox {
        right:80vw;
        width:60px;
        height:60px;
    }
    .arrowBox:nth-child(9) {
        left:80vw;
    }
    .arrow {
        width:20px;
        height:20px;
        top:50%; left:50%;
    }
}

@media only screen and (max-width: 360px) {
    .arrowBox {
        right:75vw;
    }
    .arrowBox:nth-child(9) {
        left:75vw;
    }
}

@media only screen and (max-width: 314px) {
    .arrowBox {
        width:50px;
        height:50px;
        right:78vw;
    }
    .arrowBox:nth-child(9) {
        left:78vw;
    }
    .arrow {
        width:18px;
        height:18px;
    }
}

@media only screen and (max-width: 265px) {
    .arrowBox {
        right:74vw;
    }
    .arrowBox:nth-child(9) {
        left:74vw;
    }
}