.introDiv {
    position:relative;
    height:100vh;
    width:100%;
    overflow:hidden;
    align-content:center;
}
.introImage, .introVideo {
    position: absolute;
    object-position:center;
    object-fit:cover;
    width:100%; height:100%;
    top:0%; left:50%;
    opacity:0;
    transform: translate(-50%, 0%);
    transition:1s;
}
.introVideo {
    animation:fadeVideo 12s;
}
.introImage {
    object-position:top;
    opacity:0;
    animation:fadeImage 12s;
}
.introVideo.show, .introImage.show {
    opacity:1;
}
.introOverlay {
    position:absolute;
    width:100%; height:100%;
    background:#2F2D28;
    opacity:0.5;
}
.introHeaderSection {
    position:absolute;
    width:100%;
    padding: 20px 0;
    top:50%;
    transform:translateY(-50%);
}
.introTitle {
    width:100%;
    text-align:center;
    font-size:160px;
    font-family: 'Alice', 'serif';
    font-weight: 400;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow:none;
    margin:0;
    animation: titleSlide 1.5s ease-out;
}
.introDivider {
  margin-top:35px;
  font-family: 'Mulish', sans-serif;
  color: #fff;
  font-size: 24px;
  font-weight:100;
  letter-spacing:2.5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .45);
  
  display: flex;
  justify-content: center;
  align-items: center;
  animation: titleSlide 1.8s ease-out;
}
.introDivider::before,
.introDivider::after {
  content: '';
  display: block;
  height: 0.09em;
  min-width: 20vw;
  animation:divider 4s ease-out;
}
.introDivider::before {
  background: linear-gradient(to right, rgba(240,240,240,0), rgb(255, 156, 110));
  margin-right: 4vh;
}
.introDivider::after {
  background: linear-gradient(to left, rgba(240,240,240,0), rgb(255, 156, 110));
  margin-left: 4vh;
}
.introDate {
    margin-top:40px;
    width:100%;
    text-align:center;
    font-family: 'Alice', 'serif';
    font-weight: 400;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(255, 255, 255);
    text-shadow:none;
    font-size:50px;
    -webkit-text-stroke-width: 0.5px;
    animation: titleSlide 2.1s ease-out;
}
.introFade {
    position:absolute;
    width:100%;
    height:40px;
    background:linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, white 100%);
    bottom:0;
}

.eventDiv {
    position:relative;
    width:100%;
    text-align:center;
    overflow:hidden;
}
.eventHeaderSection {
    position:relative;
    margin-top:160px;
    margin-bottom:120px;
}
.eventHeader {
    color:rgb(41, 41, 41);
    font-family: 'Alice', 'serif';
    font-weight: 400;
    font-size:70px;
    margin-bottom:0;
}
.eventSubHeader {
    font-family: 'Mulish', sans-serif;
    font-size:22px;
    color:rgb(117, 117, 117);
}
.eventHeaderImage {
    position:absolute;
    left:50%; top: 0%;
    transform:translate(0%, -50%) scale(1.5);
    margin-left:-20px;
    opacity:0.5;
    filter: hue-rotate(80deg);
}
.eventBackground {
    position:absolute;
    top:50%; left:50%;
    transform:translate(-50%, -50%);
    width:100%;
    object-fit:cover;
    opacity:0.01;
}
.eventGrid {
    position:relative;
    display:inline-flex;
    text-align:center;
    justify-content: center;
    flex-wrap: wrap;

    width:100%;
    max-width:1200px;
}
.event {
    position:relative;
    display:inline-block;
    width:25%;
    margin:0 40px 50px 40px;
    padding-bottom:30px;
}
.iconBox {
    position:relative;
    width:100%;
    height:70px;
}
.iconHolder {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    width:80px; height:80px;
    background-color:rgb(245, 245, 240);
    border-radius:100%;
}
.eventIcon {
    position:absolute;
    width:70px; height:70px;
    left:50%;
    transform:translateX(-50%) scale(1.1);
    opacity:0.9;
    filter: invert(50%) sepia(40%) saturate(200%) hue-rotate(70deg);
}
.eventTitle {
    color:rgb(41, 41, 41);
    font-family: 'Alice', 'serif';
    font-weight: 400;
    font-size:32px;
    margin-top:45px;
    margin-bottom:0;
}
.eventDescription {
    font-family: 'Mulish', sans-serif;
    color:rgb(117, 117, 117);
    font-size:20px;
    line-height:1.6;
}
.hotelLink {
    color:rgb(129, 157, 128);
}
.smallBorder {
    position:absolute;
    bottom:0; left:50%;
    transform:translate(-50%, 0%);
    height:0.1px; width:100px;
    background-color: rgb(179, 111, 80);
}
.slideshowDiv {
    margin-top:50px;
    margin-bottom:180px;
    width:1200px; height: 420px;
    display:inline-block;
}
.convolutedDiv {
    position:absolute;
    width:1200px; height: 420px;
    pointer-events:none;
}
.slideshowSide {
    position:absolute;
    width:100%; height:420px;
    background:linear-gradient(to left,rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 5%, white 100%);
    right:1190px;
}
.slideshowSide:nth-child(1) {
    background:linear-gradient(to right,rgba(255, 255, 255, 0) 0%,rgb(255, 255, 255) 5%, white 100%);
    left:1190px;
}
.slideshowImages {
    height: 420px;
    overflow:auto;
    overflow-y:hidden;
    display:inline-block;
    flex-wrap:wrap;
    white-space:nowrap;
    margin-bottom:50px;
    margin-left:0;
    animation: slider 60s linear infinite;
}
.slideshowImage {
    height:400px;
    margin:10px 10px 0 10px;
    border-radius:5px;
    box-shadow:0 0 10px rgb(143, 143, 143);
    pointer-events:all;
    cursor:pointer;
}
.slideshowImages::-webkit-scrollbar {
    height:0px;
}

.locationDiv {
    position:relative;
    width:100%;
    height:1450px;
    text-align:center;
    overflow-y:hidden;
}
.locationFade {
    position:absolute;
    width:100%;
    height:40px;
    background:linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
    top:0px;
    z-index:1;
}
.locationImage {
    position:absolute;
    left:0; top:-120px;
    width:100%;
    height:115%;
    opacity:0.2;
    object-fit:cover;
}
.eventGrid {
    position:relative;
    display:inline-flex;
    text-align:center;
    justify-content: center;
    flex-wrap: wrap;

    width:100%;
    max-width:1500px;
}
.locationBox {
    position:relative;
    display:inline-block;
    width:33.3%;
    padding:50px 0;
    border:thin solid #C78665;
    background-color:white;
    z-index:1;
    transition:0.2s;
    cursor:pointer;
}
.locationBox.main {
    background-color:#91a58c;
}
.locIconBox {
    position:relative;
    width:100%;
    height:70px;
    margin-bottom:40px;
}
.locIconHolder, .locationBox.main .locIconHolder {
    position:absolute;
    left:50%;
    transform:translateX(-50%);
    width:85px; height:85px;
    background-color:rgb(245, 245, 240);
    border-radius:100%;
}
.locationBox.main .locIconHolder {
    background-color:#353A141F;
}
.locEventIcon, .locationBox.main .locEventIcon {
    position:absolute;
    width:80px; height:80px;
    left:50%;
    transform:translateX(-50%) scale(1.1);
    opacity:0.9;
    filter: invert(50%) sepia(40%) saturate(200%) hue-rotate(70deg);
}
.locationBox.main .locEventIcon {
    filter: invert(50%) brightness(200%);
}
.locationTitle, .locationBox.main .locationTitle {
    color:rgb(41, 41, 41);
    font-family: 'Alice', 'serif';
    font-weight: 400;
    font-size:42px;
    margin-top:30px;
    margin-bottom:0;
}
.locationBox.main .locationTitle {
    color:rgb(230, 230, 230);
}
.locationDescription, .locationBox.main .locationDescription {
    font-family: 'Mulish', sans-serif;
    color:rgb(117, 117, 117);
    font-size:20px;
    line-height:1.6;
}
.locationBox.main .locationDescription {
    color:rgb(230, 230, 230);
}
.locationBox.main .hotelLink {
    color:rgb(45, 71, 50);
}
.googlemapsp {
    position:relative;
    padding:0;
    margin:0;
}
.googlemap {
    position:absolute;
    display:none;
    left:50%;
    transform:translateX(-50%);
    width:100%; height:500px;
    max-width:1500px;
    border:none;
    box-shadow:0 0 15px rgb(180, 180, 180);
    z-index:0;
}
.googlemap.show {
    display:block;
}

.fullScreen {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:3;
    pointer-events:none;
    opacity:0;
    transition:0.8s;
    display:none;
}
.fullScreen.active {
    pointer-events:all;
    opacity:1;
}
.arrowBox {
    position:absolute;
    top: 50%;
    right:86vw; 
    transform: translateY(-50%) rotateZ(45deg);
    width:100px;
    height:100px;
    border-radius:100%;
    cursor:pointer;
    transition:background-color 0.3s;
}
.arrowBox:nth-child(9) {
    left:86vw;
    transform: translateY(-50%) rotateZ(225deg);
}
.arrowBox:hover {
    background-color:rgba(255, 255, 255, 0.055);
}
.arrow {
    position:absolute;
    width:40px;
    height:40px;
    top:50%; left:50%;
    border-bottom: 2px solid rgb(121, 121, 121); 
    border-left: 2px solid rgb(121, 121, 121); 
    transform: translateY(-65%) translateX(-35%);
}
.fullScreenImage {
    position:absolute;
    top:50%;
    left:50%;
    max-width:60%;
    max-height:90%;
    object-fit:contain;
    transform:translateY(-50%) translateX(-50%) rotateY(0);
    transition:filter 0.8s, transform 0.2s, opacity 0.5s;
    filter:blur(50px);
    opacity:0;
  
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
.fullScreen.active .fullScreenImage {
    filter:blur(0px);
}
.fullScreenImage.active {
    opacity:1;
}
.fullScreenShadow {
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background:black;
    z-index:2;
    opacity:0;
    pointer-events:none;
    transition:0.8s;
}
.fullScreenShadow.active {
    opacity:0.9;
    pointer-events:all;
}

.fade-in-section {
    opacity: 0;
    visibility: hidden;
    transition: 2s;
    will-change: opacity, visibility;
}
.fade-in-section.is-visible {
    opacity: 1;
    visibility: visible;
}

.pulse-section {
    animation:none;
}
.pulse-section.is-visible {
    animation:pulse 1.5s ease-out;
}

@keyframes slider {
    0% {
        margin-left:0;
    } 50% {
        margin-left:-2140px;
    } 100% {
        margin-left:0;
    }
}

@keyframes titleSlide {
    0% {
        opacity: 0;
        transform: translateY(-10vh);
        visibility: hidden;
    } 10% {
        opacity: 0;
        transform: translateY(-10vh);
        visibility: hidden;
    } 100% {
        opacity: 1;
        transform: none;
        visibility: visible;
    }
}

@keyframes pulse {
    0% {
        transform:scale(0.4);
        opacity:0;
    } 50% {
        transform:scale(1.3);
        opacity:1;
    } 100% {
        transform:scale(1);
        opacity:1;
    }
}

@keyframes divider {
    from {
        min-width:0;
    } to {
        min-width:20vw;
    }
}


  